@font-face {
   font-family: gladifFont;
   src: url("../../assets/fonts/Gladifilthefte.ttf") format(truetype);
}

@font-face {
   font-family: robotoRegularFont;
   src: url("../../assets/fonts/roboto/RobotoCondensed-Regular.ttf")
      format(truetype);
}

@font-face {
   font-family: robotoLightFont;
   src: url("../../assets/fonts/roboto/RobotoCondensed-Light.ttf")
      format(truetype);
}

@font-face {
   font-family: robotoItalicFont;
   src: url("../../assets/fonts/roboto/RobotoCondensed-Italic.ttf")
      format(truetype);
}

@font-face {
   font-family: robotoLightItalicFont;
   src: url("../../assets/fonts/roboto/RobotoCondensed-LightItalic.ttf")
      format(truetype);
}

@font-face {
   font-family: robotoBoldFont;
   src: url("../../assets/fonts/roboto/RobotoCondensed-Bold.ttf")
      format(truetype);
}

@font-face {
   font-family: robotoBoldItalicFont;
   src: url("../../assets/fonts/roboto/RobotoCondensed-BoldItalic.ttf")
      format(truetype);
}

// PT-SANS

// @font-face {
//    font-family: "PTSans-Bold";
//    src: url("/pt-sans/PTSans-Bold.ttf") format("truetype");
// }

// @font-face {
//    font-family: "PTSans-BoldItalic";
//    src: url("/fonts/PTSans-BoldItalic.ttf") format("truetype");
// }

// @font-face {
//    font-family: "PTSans-Italic";
//    src: url("/fonts/PTSans-Italic.ttf") format("truetype");
// }

// @font-face {
//    font-family: "PTSans-Regular";
//    src: url("/fonts/PTSans-Regular.ttf") format("truetype");
// }
