$primary-color: #ff8b20;
$secondary-color: #ba3d15;
$transparent-primary-color: rgb(255, 139, 32, 0.5);
$main-background-color: rgba(255, 255, 255, 0.75);
$transparent-color: rgba(0, 0, 0, 0);

// FONTS

// $ptSansBold: "PTSans-Bold", sans-serif;
// $ptSansBoldItalic: "PTSans-BoldItalic", sans-serif;
// $ptSansItalic: "PTSans-Italic", sans-serif;
// $prSansRegular: "PTSans-Regular", sans-serif;
