@import "../../styles";

.info-card-div {
   @include flex-layout;

   border: 1px solid #000000;

   min-height: 600px;
   min-width: 1200px;

   position: absolute;
   top: 15%;
   left: 50%;
   transform: translateX(-50%);
   z-index: 3;
}
