@import '../../styles';

.home-page-div {
    @include flex-layout;

    flex-direction: column;
    justify-content: space-between;

    height: 100%;

}

.info-card-section {
    @include flex-layout;

    position: absolute;
    top: 250px;
    z-index: 3;
}

