@import "../../styles";

.home-page-div {
   @include flex-layout;

   flex-direction: column;
   justify-content: space-between;

   height: 100%;
}

.info-card-section {
   @include flex-layout;

   position: relative;
   z-index: 3;
   height: 600px;
}
