@import "../../styles";

.button {
   @include button;
   @include set-font(24px);

   box-sizing: border-box;

   padding: 8px 20px;

   border-radius: 50px;

   border: 1px solid transparent;

   transition: 0.25s ease-in-out border-color;

   &:hover {
      border-color: #000;
   }
}
