@import '../../styles';

.body-span-div{
    @include flex-layout;

    min-height: 600px;
    width: 100%;

    background-color: #ffffff;

    position: relative;
    z-index: 1;

    background-image: url('../../../public/background-hospital.png');
}
