@import '../../styles/';

.header-div {
    @include flex-layout;

    justify-content: space-between;

    border-bottom: 1px solid #2b313b;
    background-color: #76C8A7;

    width: 100%;
    min-height: 150px;

    position: relative;
    z-index: 3;
}

.button-section {
    @include flex-layout;

    padding: 50px; 

    justify-content: space-around;
}

.home-page-title {
    @include flex-layout;

    margin: 0 auto;
    margin-left: 50px;

    font-family: robotoBoldItalicFont, sans-serif;
    font-size: 40px;
    color: #333333;
}

.button.homepage {
    @include button-layout;
    @include flex-layout;

    margin: 0 auto; 
    margin-right: 20px;

    width: 250px;

    font-family: gladif, sans-serif;
    font-size: x-large;
    color: #333333;
}

.button.about {
    @include button-layout;
    @include flex-layout;
    
    margin: 0 auto; 
    margin-right: 20px;

    width: 150px;

    font-family: gladif, sans-serif;
    font-size: x-large;
    color: #333333;
}

.button.contact {
    @include button-layout;
    @include flex-layout;
    
    margin: 0 auto; 
    margin-right: 20px;

    width: 250px;

    font-family: gladif, sans-serif;
    font-size: x-large;
    color: #333333;
}

.button.blog {
    @include button-layout;
    @include flex-layout;

    margin: 0 auto; 
    margin-right: 20px;

    width: 100px;
    
    font-family: gladif, sans-serif;
    font-size: x-large;
    color: #333333;
}

.button.for-doctors {
    @include button-layout;
    @include flex-layout;
    
    margin: 0 auto; 
    margin-right: 50px;

    width: 200px;
    
    font-family: gladif, sans-serif;
    font-size: x-large;
    color: #333333;
}