@import '../../styles';

.footer {
    @include flex-layout;
    flex-direction: column;
    align-items: center;

    background-color: rgb(178,215,234, 0.8);

    min-height: 530px;
    width: 100%;
}

.desc-text {
    font-family: gladif, sans-serif;

    font-size: xxx-large;
    color: #333333;
}

.desc-button-section {
    @include flex-layout; 

    margin: 0;
    flex-direction: row;
    justify-content: space-around;
}

.desc-section {
    @include flex-layout; 

    flex-direction: column;
    justify-content: space-around;
}

.transparent-desc-text {
    font-family: gladif, sans-serif;

    font-size: xx-large;

    color: rgb(0,0,0,0.5)
}

.button.about {
    margin-right: 15px;
}

.button.for-doctors {
    margin: 0;
}

.button.contact {
    margin-right: 10px;
}